---
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb
  namespace: {{ .Release.Namespace }}
spec:
  members: 1
  type: ReplicaSet
  version: "7.0.4"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: admin
      db: admin
      passwordSecretRef:
          name: {{ include "movie-watchlist.fullname" . }}-mongodb-credentials
          key: password
      roles:
        - name: root
          db: admin
      scramCredentialsSecretName: mongodb-admin-scram
  additionalMongodConfig:
    storage.wiredTiger.engineConfig.journalCompressor: zlib
  statefulSet: 
    spec:
      serviceAccountName: mongodb-database
      volumeClaimTemplates:
        - metadata:
            name: data-volume
          spec:
            storageClassName: gp2 #gp3 more cheap and fast
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 8Gi
        - metadata:
            name: logs-volume
          spec:
            storageClassName: gp2
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 2Gi
      template:
        spec:
          containers:
            - name: mongod
              resources:
                limits:
                  cpu: 500m
                  memory: 512Mi
                requests:
                  cpu: 250m
                  memory: 256Mi
            - name: mongodb-agent
              resources:
                limits:
                  cpu: 200m
                  memory: 256Mi
                requests:
                  cpu: 100m
                  memory: 128Mi